<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.nick_name %>様、example.comへようこそ。</h1>
      <p>
      example.comへのサインアップが成功しました。
      <!--your username is: <%#= @user.sign_in %>.<br>-->
    </p>
    <p>
      このサイトにログインするには、<%= @url %>をクリックしてください。
    </p>
    <p>サインアップありがとうございます。どうぞお楽しみくださいませ。</p>
  </body>
</html>