<% if post.post_favorited_by?(current_user) %>
  <p>
    <%= link_to post_post_assessments_path(post), method: :delete, remote: true do %>
      ♥<%= post.post_assessments.count %> いいね
    <% end %>
  </p>
  <% else %>
  <p>
    <%= link_to post_post_assessments_path(post), method: :post, remote: true do %>
      ♡<%= post.post_assessments.count %> いいね
    <% end %>
  </p>
<% end %>