<% if comment.comment_favorited_by?(current_user) %>
  <p>
    <%= link_to post_comment_comment_assessments_path(@post, comment), method: :delete, remote: true do %>
      ♥<%= comment.comment_assessments.count %> いいね
    <% end %>
  </p>
  <% else %>
  <p>
    <%= link_to post_comment_comment_assessments_path(@post, comment), method: :post, remote: true do %>
      ♡<%= comment.comment_assessments.count %> いいね
    <% end %>
  </p>
<% end %>