/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome';

/* ブラウザがそれぞれ持っているCSSをリセットするための記述 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
  font-family: "Lato", "Sans JP";
}

// ヘッダーフッターのフォント変更
header,.footer {
  font-family: "Lato", Chalkduster, "Bradley Hand", Courier, "Segoe Print", sans-serif;
}

/*main*/
main {
  width: 100%; /* 横幅いっぱい */
  justify-content: center; /* 子要素の横並び・中央寄せ */
  margin: 0 auto; /* 中央寄せ（左右に余白がないとできない） */
  flex: 1;
}

/* header */
header {
  width: 100%; /* 横幅 */
  padding: 15px 0;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

header .heading {
  /* headerタグ内のheadingクラスにのみ反映される */
  font-size: 32px;
}


.social i {
  display: inline-block;
  margin-left: 20px;
}

.social {
  position: absolute;
  top: 22px;
  right: 22px;
}


.nav-list {
  text-align: center;
  padding: 10px 0;
  margin: 0 auto;
}

.nav-list-item {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}

.post-top {
  height:auto;
}

.top-chart {
  margin-left: auto;
  margin-right: auto;
}

/* main-visual画像部分用*/
.main-visual {
  width: 100%; /* 横幅いっぱい */
  height: 400px; /* 高さ300px */
  background-size: cover; /* 縦横比を維持したまま背景領域を埋め尽くす */
  background-position: center; /* 背景画像を中央に配置 */
  margin:0;
}

.main-visual-text {
  height: 400px;
  text-align: center; /* 文字を中央揃えにする */
  padding: 150px 105px; /* 上側の内側余白で垂直方向の位置を調整 */
}

.main-visual-content {
  background-color: rgba( 0, 0, 0, 0.5); /* 背景色を半透明の黒にする */
}

#box{
  height: 600px;
  width: 100%;
}

.image1 {
  background-image: image-url("img/test1.jpg");
}
.image2 {
  background-image: image-url("img/test2.jpg");
}
.image3 {
  background-image: image-url("img/test3.jpg");
}
.image4 {
  background-image: image-url("img/test4.jpg");
}
.image5 {
  background-image: image-url("img/test5.jpg");
}

// sidebar用
.side-bar-border {
  border-bottom: groove 8px;
}

.ranking {
  counter-reset:number 0; /*数字をリセット*/
  list-style-type: none!important; /*数字を一旦消す*/
}

.ranking .ranking_list {
  position: relative;
  line-height: 1.5em;
  padding: 0.5em 0.5em 0.5em 30px;
}
.ranking .ranking_list:before{
  /* 数字をつける */
  position: absolute;
  counter-increment: number 1;      /* number カウンタの増加数をセット */
  content: counter(number) " ";      /* 表示形式を指定 */

  /*数字のデザイン変える*/
  display:inline-block;
  background: #5c9ee7;
  color: white;
  font-family: 'Avenir','Arial Black','Arial',sans-serif;
  font-weight:bold;
  font-size: 15px;
  border-radius: 50%;
  left: 0;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  /*上下中央寄せのため*/
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.blog-heading {
  border-bottom: 8px solid #f7f7f7;
  line-height: 0.6;
}

/*genreメニューダブ用*/
.wrap {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

#tab-menu {
  display: flex;
}

#tab-menu li {
  list-style-type: none;
  width: 25%;
}

#tab-menu li a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 20px;
  text-align: center;
  background: #000;
  border: 1px solid #000;
  border-bottom: none;
}

#tab-menu .active {
  background: #fff;
  color: #000;
}

#tab-contents {
  display: flex;
  flex-wrap: wrap;
}

#tab-contents .tab {
  width: 100%;
  padding: 30px;
  background: #fff;
  border: 1px solid #000;
  border-top: none;
}

#tab-contents p {
  color: #000;
  line-height: 2.5;
}

.yoko {
  display: flex;
}

nav.pagination {
  display: none;
}

.scroll-list {
  padding: 0;
}

// user login用（フッターを下に持ってくる為）
.footer-fixed {
  height: 550px;
}

// admin login用（フッターを下に持ってくる為）
.footer-fixed-admin {
  height: 480px;
}

// news画像の大きさ
.news-image {
  height: 60px;
  width: 60px;
}

// コメントモーダルの幅を広げる
.modal-dialog-fluid {
  max-width: inherit;
  width: 75%;
}