// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




.main {
  width: 100%; /* 横幅いっぱい */
  height: 1400px; /* 高さ1400px（多めに設定） */
  justify-content: center; /* 子要素の横並び・中央寄せ */
  margin: 0 auto; /* 中央寄せ（左右に余白がないとできない） */
}

.main-visual-content {
  background-color: rgba( 0, 0, 0, 0.5); /* 背景色を半透明の黒にする */
}

.blog-heading {
  border-bottom: 8px solid #f7f7f7;
  line-height: 0.6;
}

.sidebar {
  background-color: palegreen; /* 背景色palegreen */
}

