<footer class="bg-dark text-white pt-2 pb-2">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-md-5">
        <p class="text-white mt-1 mb-1">社会課題改善活動に特化したソーシャルネットワーク</p>
        <%#= image_tag('logo-white.png') %>
      </div>
      <div class="col-md-9">
        <ul class="p-0 list-unstyled">
          <li><%= link_to '会社概要', root_path ,class: 'nav-link text-white-50' %></li>
          <li><%= link_to 'プライバシーポリシー', homes_about_path ,class: 'nav-link text-white-50' %></li>
        </ul>
      </div>
    </div>
  </div>
</footer>