<div class="row main-visual">
  <div id="theTarget">
    <div class="image1">
      <div class="col-md-4 main-visual-content d-flex align-items-center">
        <p class="main-visual-text text-white">
          Find a way, find a solution,
          <br>let's make our future better.
        </p>
      </div>
    </div>
    <div class="image2">
      <div class="col-md-4 main-visual-content d-flex align-items-center">
        <p class="main-visual-text text-white">
          Find a way, find a solution,
          <br>let's make our future better.
        </p>
      </div>
    </div>
    <div class="image3">
      <div class="col-md-4 main-visual-content d-flex align-items-center">
        <p class="main-visual-text text-white">
          Find a way, find a solution,
          <br>let's make our future better.
        </p>
      </div>
    </div>
    <div class="image4">
      <div class="col-md-4 main-visual-content d-flex align-items-center">
        <p class="main-visual-text text-white">
          Find a way, find a solution,
          <br>let's make our future better.
        </p>
      </div>
    </div>
    <div class="image5">
      <div class="col-md-4 main-visual-content d-flex align-items-center">
        <p class="main-visual-text text-white">
          Find a way, find a solution,
          <br>let's make our future better.
        </p>
      </div>
    </div>
  </div>
</div>