<div class="row main-visual">
  <div class="col-md-4 main-visual-content d-flex align-items-center">
    <p class="main-visual-text text-white">
      Text will be inserted here later,
      <br>to expain this app.
    </p>
  </div>
</div>