<div class="container">
  <div class="row">
    <div class="col-6 mb-5">
      <h5 class="ml-4 my-4 bg-light d-inline-flex">投稿割合（ジャンル）</h5>
      <canvas id="myChart" width="500" height="500"></canvas>
      <script>
      var ctx = document.getElementById("myChart").getContext('2d');
      var genreIdsCount = JSON.parse('<%= @genre_id_hash.values %>')
      var myPieChart = new Chart(ctx, {
          type: 'pie',
          data: {
              labels: ["公共交通", "インフラ", "ヘルスケア", "生活", "地域", "その他"],
              datasets:
              [
                {
                  label: 'test',
                  data: genreIdsCount,
                  backgroundColor: [
                      'rgba(255, 99, 132, 0.2)',
                      'rgba(54, 162, 235, 0.2)',
                      'rgba(255, 206, 86, 0.2)',
                      'rgba(75, 192, 192, 0.2)',
                      'rgba(153, 102, 255, 0.2)',
                      'rgba(255, 159, 64, 0.2)'
                  ],
                  borderColor: [
                      'rgba(255,99,132,1)',
                      'rgba(54, 162, 235, 1)',
                      'rgba(255, 206, 86, 1)',
                      'rgba(75, 192, 192, 1)',
                      'rgba(153, 102, 255, 1)',
                      'rgba(255, 159, 64, 1)'
                  ],
                  borderWidth: 1
                }
              ]
          },
          options: {
              responsive: false,
              plugins: {
                  datalabels: {
                      color: '#000',
                      font: {
                          weight: 'bold',
                          size: 15,
                      },
                      formatter: (value, ctx) => {
                      // let sum = 0;
                      // datasets.map(dataset => {
                      //     sum += dataset.data[ctx.dataIndex];
                      // });
                      let label = ctx.chart.data.labels[ctx.dataIndex];
                      // let percentage = Math.round((value / sum) * 100) + '%';
                      return label + '\n' + value + '%';
                      },
                  }
              }
          }
      });
      </script>
    </div>
    <div class="col-6 mb-5">
      <h5 class="ml-4 my-4 bg-light d-inline-flex">投稿割合（年代）</h5>
      <canvas id="myChart2" width="500" height="500"></canvas>
      <script>
      var ctx = document.getElementById("myChart2").getContext('2d');
      var genreIdsCount = JSON.parse('<%= @generation_id_hash.values %>')
      var myPieChart = new Chart(ctx, {
          type: 'pie',
          data: {
              labels: ["10代", "20代", "30代", "40代", "50代", "60代", "70歳以上"],
              datasets:
              [
                {
                  label: 'test',
                  data: genreIdsCount,
                  backgroundColor: [
                      'rgba(255, 99, 132, 0.2)',
                      'rgba(54, 162, 235, 0.2)',
                      'rgba(255, 206, 86, 0.2)',
                      'rgba(75, 192, 192, 0.2)',
                      'rgba(153, 102, 255, 0.2)',
                      'rgba(255, 159, 64, 0.2)',
                      'rgba(128, 128, 128, 0.2)'
                  ],
                  borderColor: [
                      'rgba(255,99,132,1)',
                      'rgba(54, 162, 235, 1)',
                      'rgba(255, 206, 86, 1)',
                      'rgba(75, 192, 192, 1)',
                      'rgba(153, 102, 255, 1)',
                      'rgba(255, 159, 64, 1)',
                      'rgba(128, 128, 128, 1)'
                  ],
                  borderWidth: 1
                }
              ]
          },
          options: {
              responsive: false,
              plugins: {
                  datalabels: {
                      color: '#000',
                      font: {
                          weight: 'bold',
                          size: 15,
                      },
                      formatter: (value, ctx) => {
                      let label = ctx.chart.data.labels[ctx.dataIndex];
                      return label + '\n' + value + '%';
                      },
                  }
              }
          }
      });
      </script>
    </div>
  </div>
</div>